language = current.path[1]
version = ''

title #{title} : #{current.path[0]}

meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="description" content="#{description}")
meta(name="keywords" content="#{keywords}")
meta(name="robots" content="all")
meta(name="referrer" content="origin")
meta(name="viewport" id="viewport" content="width=device-width, initial-scale=1")

if github_url
  link(rel="stylesheet" href="#{github_url}/main.css")
else
  link(rel="stylesheet" href="/main.css")
